<script type="text/javascript" charset="utf-8"
        src="http://public.rrbrr.com/Plugin/ueditor-1.4.3.3/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8"
        src="http://public.rrbrr.com/Plugin/ueditor-1.4.3.3/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8"
        src="http://public.rrbrr.com/Plugin/ueditor-1.4.3.3/lang/zh-cn/zh-cn.js"></script>


<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">General</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">

                    <form class="form-horizontal" role="form" method="post" action="__CONTROLLER__/save/">
                        <div class="form-group" style="" >
    <label for="thumb" class="col-sm-2 control-label"><?php if(!empty($required)){ ?><span
            class="text-danger">*</span><?php } ?> 缩略图</label>
    <div class="col-sm-8">
        <input onchange="previewImg(this,'thumb')" class="avatar-input" id="thumb"  name="thumb" type="file"><div id='preview_img_thumb'>
                                <notempty name="vo['thumb']">
                                <img src="{$vo.thumb|img}" width='100' />
                                 <else />
                                 <img src="{:config("app.default_image")}" width='100' />
                                 </notempty>
                                 </div>
    </div>
    <div class="col-sm-2 control-label " style="text-align: left;"><span class="Validform_checktip"></span></div>

</div>
<div class="form-group" style="" >
    <label for="status" class="col-sm-2 control-label"><?php if(!empty($required)){ ?><span
            class="text-danger">*</span><?php } ?> 状态</label>
    <div class="col-sm-8">
        <html:select  first="请选择" options='opt_status' selected='status_selected' name="status" />
    </div>
    <div class="col-sm-2 control-label " style="text-align: left;"><span class="Validform_checktip"></span></div>

</div>
<div class="form-group" style="" >
    <label for="sort" class="col-sm-2 control-label"><?php if(!empty($required)){ ?><span
            class="text-danger">*</span><?php } ?> 商品排序</label>
    <div class="col-sm-8">
        <input  class="form-control" name="sort" type="text" id="sort" size="10" value="{$vo[sort] ? $vo[sort] : $_GET[sort]}" />
    </div>
    <div class="col-sm-2 control-label " style="text-align: left;"><span class="Validform_checktip"></span></div>

</div>
<div class="form-group" style="" >
    <label for="user_id" class="col-sm-2 control-label"><?php if(!empty($required)){ ?><span
            class="text-danger">*</span><?php } ?> 用户id</label>
    <div class="col-sm-8">
        <input  class="form-control" name="user_id" type="text" id="user_id" size="10" value="{$vo[user_id] ? $vo[user_id] : $_GET[user_id]}" />
    </div>
    <div class="col-sm-2 control-label " style="text-align: left;"><span class="Validform_checktip"></span></div>

</div>
<div class="form-group" style="" >
    <label for="weight" class="col-sm-2 control-label"><?php if(!empty($required)){ ?><span
            class="text-danger">*</span><?php } ?> 重量</label>
    <div class="col-sm-8">
        <input  class="form-control" name="weight" type="text" id="weight" size="10" value="{$vo[weight] ? $vo[weight] : $_GET[weight]}" />
    </div>
    <div class="col-sm-2 control-label " style="text-align: left;"><span class="Validform_checktip"></span></div>

</div>
<div class="form-group" style="" >
    <label for="type" class="col-sm-2 control-label"><?php if(!empty($required)){ ?><span
            class="text-danger">*</span><?php } ?> 类型</label>
    <div class="col-sm-8">
        <html:select  first="请选择" options='opt_type' selected='type_selected' name="type" />
    </div>
    <div class="col-sm-2 control-label " style="text-align: left;"><span class="Validform_checktip"></span></div>

</div>
<div class="form-group" style="" >
    <label for="category_id" class="col-sm-2 control-label"><?php if(!empty($required)){ ?><span
            class="text-danger">*</span><?php } ?> 商品分类</label>
    <div class="col-sm-8">
        <input  class="form-control" name="category_id" type="text" id="category_id" size="10" value="{$vo[category_id] ? $vo[category_id] : $_GET[category_id]}" />
    </div>
    <div class="col-sm-2 control-label " style="text-align: left;"><span class="Validform_checktip"></span></div>

</div>
<div class="form-group" style="" >
    <label for="intro" class="col-sm-2 control-label"><?php if(!empty($required)){ ?><span
            class="text-danger">*</span><?php } ?> 商品介绍</label>
    <div class="col-sm-8">
        <html:editor id="editor" name="intro" type="kindeditor" style="width:100%;height:400px;visibility:hidden;" >{$vo.intro}</html:editor>
    </div>
    <div class="col-sm-2 control-label " style="text-align: left;"><span class="Validform_checktip"></span></div>

</div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">保存</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->


<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">General</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="inputName">Project Name</label>
                        <input type="text" id="inputName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="inputDescription">Project Description</label>
                        <textarea id="inputDescription" class="form-control" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputStatus">Status</label>
                        <select class="form-control custom-select">
                            <option selected disabled>Select one</option>
                            <option>On Hold</option>
                            <option>Canceled</option>
                            <option>Success</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputClientCompany">Client Company</label>
                        <input type="text" id="inputClientCompany" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="inputProjectLeader">Project Leader</label>
                        <input type="text" id="inputProjectLeader" class="form-control">
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-md-6">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Budget</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="inputEstimatedBudget">Estimated budget</label>
                        <input type="number" id="inputEstimatedBudget" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="inputSpentBudget">Total amount spent</label>
                        <input type="number" id="inputSpentBudget" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="inputEstimatedDuration">Estimated project duration</label>
                        <input type="number" id="inputEstimatedDuration" class="form-control">
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="#" class="btn btn-secondary">Cancel</a>
            <input type="submit" value="Create new Porject" class="btn btn-success float-right">
        </div>
    </div>
</section>
<!-- /.content -->
