
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">

                <form method='get' action="__SELF__" class="form-inline">
                      <div class="form-group" >
    <label for="id"> id</label>
    
       <input  class="form-control" name="id" type="text" id="id" size="10" value="{$vo[id] ? $vo[id] : $_GET[id]}" />
       </div>
   

  <div class="form-group" >
    <label for="user_id"> user_id</label>
    
       <input  class="form-control" name="user_id" type="text" id="user_id" size="30" value="{$vo[user_id] ? $vo[user_id] : $_GET[user_id]}" />
       </div>
   

  <div class="form-group" >
    <label for="realname"> realname</label>
    
       <input  class="form-control" name="realname" type="text" id="realname" size="30" value="{$vo[realname] ? $vo[realname] : $_GET[realname]}" />
       </div>
   

  <div class="form-group" >
    <label for="mobile"> mobile</label>
    
       <input  class="form-control" name="mobile" type="text" id="mobile" size="30" value="{$vo[mobile] ? $vo[mobile] : $_GET[mobile]}" />
       </div>
   

  <div class="form-group" >
    <label for="province"> province</label>
    
       <input  class="form-control" name="province" type="text" id="province" size="30" value="{$vo[province] ? $vo[province] : $_GET[province]}" />
       </div>
   

  <div class="form-group" >
    <label for="city"> city</label>
    
       <input  class="form-control" name="city" type="text" id="city" size="30" value="{$vo[city] ? $vo[city] : $_GET[city]}" />
       </div>
   

  <div class="form-group" >
    <label for="area"> area</label>
    
       <input  class="form-control" name="area" type="text" id="area" size="30" value="{$vo[area] ? $vo[area] : $_GET[area]}" />
       </div>
   

  <div class="form-group" >
    <label for="address"> address</label>
    
       <input  class="form-control" name="address" type="text" id="address" size="30" value="{$vo[address] ? $vo[address] : $_GET[address]}" />
       </div>
   

  <div class="form-group" >
    <label for="isdefault"> isdefault</label>
    
       <input  class="form-control" name="isdefault" type="text" id="isdefault" size="10" value="{$vo[isdefault] ? $vo[isdefault] : $_GET[isdefault]}" />
       </div>
   

  <div class="form-group" >
    <label for="zipcode"> zipcode</label>
    
       <input  class="form-control" name="zipcode" type="text" id="zipcode" size="30" value="{$vo[zipcode] ? $vo[zipcode] : $_GET[zipcode]}" />
       </div>
   

  <div class="form-group" >
    <label for="deleted"> deleted</label>
    
       <input  class="form-control" name="deleted" type="text" id="deleted" size="10" value="{$vo[deleted] ? $vo[deleted] : $_GET[deleted]}" />
       </div>
   

  <div class="form-group" >
    <label for="street"> street</label>
    
       <input  class="form-control" name="street" type="text" id="street" size="30" value="{$vo[street] ? $vo[street] : $_GET[street]}" />
       </div>
   

  <div class="form-group" >
    <label for="datavalue"> datavalue</label>
    
       <input  class="form-control" name="datavalue" type="text" id="datavalue" size="30" value="{$vo[datavalue] ? $vo[datavalue] : $_GET[datavalue]}" />
       </div>
   

  <div class="form-group" >
    <label for="streetdatavalue"> streetdatavalue</label>
    
       <input  class="form-control" name="streetdatavalue" type="text" id="streetdatavalue" size="30" value="{$vo[streetdatavalue] ? $vo[streetdatavalue] : $_GET[streetdatavalue]}" />
       </div>
   

  <div class="form-group" >
    <label for="lng"> lng</label>
    
       <input  class="form-control" name="lng" type="text" id="lng" size="30" value="{$vo[lng] ? $vo[lng] : $_GET[lng]}" />
       </div>
   

  <div class="form-group" >
    <label for="lat"> lat</label>
    
       <input  class="form-control" name="lat" type="text" id="lat" size="30" value="{$vo[lat] ? $vo[lat] : $_GET[lat]}" />
       </div>
   

  <div class="form-group" >
    <label for="status"> status</label>
    
       <input  class="form-control" name="status" type="text" id="status" size="10" value="{$vo[status] ? $vo[status] : $_GET[status]}" />
       </div>
   


                    <button type="submit" class="btn btn-primary">搜索</button>
                </form>
                <br/>
                <php> $query = strstr($_SERVER["REQUEST_URI"],'?');</php>

                <div class="row">
                    <php>if(0==1){</php>
                    <div class="col-lg-1"><a href="__CONTROLLER__/add" class="btn btn-block btn-info btn-sm ">添加</a>
                    </div>
                    <php>}</php>


                    <php>if(0==1){</php>
                    <div class="col-lg-1"><a href="__CONTROLLER__/exportExcel<?=$query?>"
                                             class="btn btn-block btn-info btn-sm ">导出</a></div>
                    <php>}</php>
                </div>


            </div>

            <!-- show="id:编号|8%,title:名称:edit,create_time|toDate='y-m-d':创建时间,status|getStatus2:状态,{$fields}"-->
            <div class="card-body">
                <html:list id="checkList" name="vo"
                           style="table table-striped table-bordered bootstrap-datatable datatable"
                           checkbox="true" action="true" datasource="list" show="id:id::sort,user_id:user_id::sort,realname:realname::sort,mobile:mobile::sort,province:province::sort,city:city::sort,area:area::sort,address:address::sort,isdefault:isdefault::sort,zipcode:zipcode::sort,deleted:deleted::sort,street:street::sort,datavalue:datavalue::sort,streetdatavalue:streetdatavalue::sort,lng:lng::sort,lat:lat::sort,status:status::sort" actionlist="edit:编辑:id,foreverdel:永久删除:id"/>



            </div>

            <div class="card-body">
            <div class="row">
                <php>if(0==1){</php>
                <a href="javascript:;" onclick="del();" class="btn btn-info"> 批量禁用</a>
                <php>}</php>

                <php>if(0==1){</php>
                <a href="javascript:;" onclick="foreverdel();" class="btn btn-danger"> 批量删除</a>
                <php>}</php>
            </div>
            <div class="container text-center">
                {$page}
                <div style="margin-top:10px;">跳转到<input type="text" style="width: 100px;" id="txt_page"
                                                        name="txt_page">页
                    <input id="btn_jump" type="button" value="跳转"></div>
            </div>
            </div>

        </div>

    </div>
</div>

<script src="__PUBLIC__/common/UserAddress.js"></script>

<script>
    <php>
        $params = input('get.');
        unset($params['p']);
        $params = http_build_query($params);
    </php>

        $(function () {
            console.log(URL);

            $('#btn_jump').click(function () {
                goPage();
            });
            function goPage() {
                var params = '{$params}';
                var url = CONTROLLER+"/index?"+params;
                url += "&p="+$('#txt_page').val();
                window.location.href = url;

            }
        });





</script>