<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>基于CGF的后台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="__PUBLIC__/adminlet/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="__PUBLIC__/adminlet/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="__PUBLIC__/adminlet/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="__PUBLIC__/adminlet/dist/css/adminlte.min.css">
    <link href="__PUBLIC__/adminlet/dist/css/google.fonts.css" rel="stylesheet">
    <style type="text/css">.page a,.page a:hover,.page .current{display:inline-block;margin-right:2px;padding:0 10px;height:25px;line-height:25px;vertical-align:middle}.page a{color:#404548;border:1px solid #d7dbdc;background-color:#fff}.page a:hover,.page .current{text-decoration:none;color:#FFF;background-color:#397ab9;vertical-align:middle}.page .next,.page .prev{font-family:"宋体"}.no-skin .nav-list>li .submenu>li>a.active{color:#4b88b7;background-color:#f1f5f9}</style>
    <script src="__PUBLIC__/adminlet/plugins/jquery/jquery.min.js"></script>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
