
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">

                <form method='get' action="" class="form-inline">
                      <div class="form-group"  style="margin-right:15px; margin-bottom: 5px;">
    <label for="id" style="margin-right:5px;"> id</label>
    
       <input  class="form-control" name="id" type="text" id="id" size="10" value="{$vo[id] ? $vo[id] : $_GET[id]}" />
       </div>
   

  <div class="form-group"  style="margin-right:15px; margin-bottom: 5px;">
    <label for="name" style="margin-right:5px;"> name</label>
    
       <input  class="form-control" name="name" type="text" id="name" size="30" value="{$vo[name] ? $vo[name] : $_GET[name]}" />
       </div>
   

  <div class="form-group"  style="margin-right:15px; margin-bottom: 5px;">
    <label for="pwd" style="margin-right:5px;"> pwd</label>
    
       <input  class="form-control" name="pwd" type="text" id="pwd" size="30" value="{$vo[pwd] ? $vo[pwd] : $_GET[pwd]}" />
       </div>
   

  <div class="form-group"  style="margin-right:15px; margin-bottom: 5px;">
    <label for="status" style="margin-right:5px;"> status</label>
    
       <input  class="form-control" name="status" type="text" id="status" size="10" value="{$vo[status] ? $vo[status] : $_GET[status]}" />
       </div>
   

  <div class="form-group"  style="margin-right:15px; margin-bottom: 5px;">
    <label for="auth" style="margin-right:5px;"> auth</label>
    
       <input  class="form-control" name="auth" type="text" id="auth" size="10" value="{$vo[auth] ? $vo[auth] : $_GET[auth]}" />
       </div>
   

  <div class="form-group"  style="margin-right:15px; margin-bottom: 5px;">
    <label for="photo" style="margin-right:5px;"> photo</label>
    
       <input  class="form-control" name="photo" type="text" id="photo" size="30" value="{$vo[photo] ? $vo[photo] : $_GET[photo]}" />
       </div>
   


                    <button type="submit" class="btn btn-primary">搜索</button>
                </form>
                <br/>
                <php> $query = strstr($_SERVER["REQUEST_URI"],'?');</php>

                <div class="row">
                    <php>if(0==1){</php>
                    <div class="col-lg-1"><a href="__CONTROLLER__/add" class="btn btn-block btn-info btn-sm ">添加</a>
                    </div>
                    <php>}</php>


                    <php>if(0==1){</php>
                    <div class="col-lg-1"><a href="__CONTROLLER__/exportExcel<?=$query?>"
                                             class="btn btn-block btn-info btn-sm ">导出</a></div>
                    <php>}</php>
                </div>


            </div>

            <!-- show="id:编号|8%,title:名称:edit,create_time|toDate='y-m-d':创建时间,status|getStatus2:状态,{$fields}"-->
            <div class="card-body">
                <html:list id="checkList" name="vo"
                           style="table table-bordered table-hover dataTable dtr-inline"
                           checkbox="true" action="true" datasource="list" show="id:id::sort,name:name::sort,pwd:pwd::sort,status:status::sort,auth:auth::sort,photo:photo::sort" actionlist="edit:编辑:id,foreverdel:永久删除:id"/>



            </div>

            <div class="card-body">
            <div class="row">
                <php>if(0==1){</php>
                <a href="javascript:;" onclick="del();" class="btn btn-info"> 批量禁用</a>
                <php>}</php>

                <php>if(0==1){</php>
                <a href="javascript:;" onclick="foreverdel();" class="btn btn-danger"> 批量删除</a>
                <php>}</php>
            </div>
            <div class="container text-center">
                {$page}
                <div style="margin-top:10px;">跳转到<input type="text" style="width: 100px;" id="txt_page"
                                                        name="txt_page">页
                    <input id="btn_jump" type="button" value="跳转"></div>
            </div>
            </div>

        </div>

    </div>
</div>

<script src="__PUBLIC__/common/Admin.js"></script>

<script>
    <php>
        $params = input('get.');
        unset($params['p']);
        $params = http_build_query($params);
    </php>

        $(function () {
            console.log(URL);

            $('#btn_jump').click(function () {
                goPage();
            });
            function goPage() {
                var params = '{$params}';
                var url = CONTROLLER+"/index?"+params;
                url += "&p="+$('#txt_page').val();
                window.location.href = url;

            }
        });





</script>